.FileList {
    list-style-type: none;
    padding: 0;
}

.FileList > li {
    margin: 0.25rem 0;
    padding: 0.5rem;
}

.FileList > li:hover {
    background-color: #e1e3e0;
    cursor: pointer;
}

.FileList > li[data-active=true] {
    background-color: var(--color-active-on-bg);
}