.Container {
    font-family: var(--display-font);
    margin-bottom: 2rem;
}

.Description {
    font-size: 0.8rem;
    white-space: pre-wrap;
}

.PreviewLinks {
    opacity: 0.8;
    display: flex;
    gap: var(--text-padding);
}

.PreviewLinks > button {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    background: none;
    padding: var(--text-padding-small) var(--text-padding);
}
