.Card {
    background-color: white;
    border-radius: var(--border-radius);
    padding: var(--spacing);
    margin: 2rem 1rem;

    box-shadow: 2px 2px 5px 1px lightgray;
}

.Key {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: var(--display-font);
    margin-bottom: 1rem;

    text-transform: capitalize;
}

.LanguageRow {
    font-family: var(--monospace-font);

    display: flex;
    gap: var(--spacing);
    align-items: center;
    margin: var(--text-padding-small) 0;
}

.LanguageTag {
    opacity: 0.75;
    text-transform: uppercase;
}
