.Card {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: var(--border-radius);
    padding: var(--spacing);
    margin: var(--spacing) 0;
}

.Key {
    font-weight: bold;
    font-family: var(--display-font);
    margin-bottom: var(--text-padding);
}

.LanguageRow {
    font-family: var(--monospace-font);

    display: flex;
    gap: var(--spacing);
    align-items: center;
    margin: var(--text-padding-small) 0;
}

.LanguageTag {
    opacity: 0.6;
}

.TextField {
    font-family: var(--monospace-font);
    border-color: lightgray;
    border-radius: var(--border-radius);
    padding: var(--text-padding);
    margin: var(--text-padding-small);
}
