.GitToolBar {
    padding: 2rem;
    text-align: center;
}

.GitToolBar > h3 {
    margin: 0;
    text-transform: uppercase;
}

.Actions {
    display: flex;
    justify-content: center;
    margin: 1rem;
}