.MobileFrame {
    border: 5px solid var(--color-foreground);
    border-radius: 1.5rem;
    height: 80vh;
    width: var(--preview-size);

    overflow: hidden;
    margin: 1rem;
}

.MobileFrame > iframe {
    border: none;
    height: 100%;
    width: 100%;
}

.NoPreview {
    margin-top: 50%;
    text-align: center;
}