.LoginPage {
    display: grid;
    gap: 1rem;
    max-width: 30rem;
    margin: 10rem auto;
}

.LoginPage > label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.LoginPage > label > input {
    font-size: 1rem;
    padding: 0.5rem;
}
