.Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-foreground);
    border-radius: var(--border-radius);

    width: 100%;
    padding: var(--spacing);
}
