@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');

:root {
  --display-font: 'Nunito', sans-serif;
  --monospace-font: 'Courier Prime', monospace;

  --border-radius: 0.25rem;
  --spacing: 1rem;
  --text-padding-small: 0.25rem;
  --text-padding: 0.5rem;
  --color-background: whitesmoke;
  --color-border: gray;
  --color-foreground: #171616;
  --color-accent: #ccdae0;

  --preview-size: 400px;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--color-background);
  padding: 0;
  margin: 0;
  font-family: var(--display-font);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: var(--display-font);
}

textarea {
  width: 100%;
}

#app {
  display: grid;
  grid-template-columns: 1fr 3fr calc(var(--preview-size) + var(--spacing));
  height: 100vh;
  margin-right: var(--spacing);
}
