@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Cutive+Mono&family=Nunito:ital,wght@0,300;1,300&display=swap');

:root {
  --font-display: 'Nunito', sans-serif;
  --font-header: 'Cabin Sketch', cursive;
  --font-mono: 'Cutive Mono', monospace;

  --border-radius: 0.25rem;
  --spacing: 1rem;
  --text-padding-small: 0.25rem;
  --text-padding: 0.5rem;
  --color-background: whitesmoke;
  --color-border: gray;
  --color-foreground: #171616;
  --color-active-on-fg: #8dd78d;
  --color-accent: #ccdae0;
  --color-focus: #77b967;
  --color-error: pink;
  --color-link: #3490cc;

  --preview-size: 400px;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--color-background);
  padding: 0;
  margin: 0;
  font-family: var(--font-display);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: var(--font-display);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);
}

.kb-focus:focus-visible {
  box-shadow: 0 0 8px var(--color-focus);
  outline: 1px solid var(--color-focus);
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #e1e1e1;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #a7a8a8;
}

#app {
  display: grid;
  grid-template-columns: 1fr 3fr calc(var(--preview-size) + var(--spacing));
  height: 100vh;
  margin-right: var(--spacing);
}
