@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');

:root {
  --display-font: 'Nunito', sans-serif;
  --monospace-font: 'PT Mono', monospace;
}

html,
body {
  background-color: whitesmoke;
  padding: 0;
  margin: 0;
  font-family: var(--display-font);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.edit-module {
  margin: 1rem;
}

.app {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100vh;
  margin-right: 1rem;
}

textarea {
  width: 100%;
}

table {
  width: 100%;
}

.preview {
  border: 5px solid black;
  border-radius: 1.5rem;

  margin-left: 1rem;
  margin-top: 1rem;
  height: 90vh;
  width: 425px;

  overflow: hidden;
}

button {
  font-family: var(--display-font);
}
