.Container {
    background: none;
    border-radius: var(--border-radius);
    color: var(--color-background);
    text-transform: uppercase;
    padding: var(--text-padding);
}

.Container:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

.Container > option {
    color: var(--color-foreground);
    padding: var(--text-padding);
}
