.PreviewLanguageSelect {
    background: none;
    border-radius: var(--border-radius);
    color: var(--color-background);
    text-transform: uppercase;
    padding: var(--text-padding);
}

.PreviewLanguageSelect:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

.PreviewLanguageSelect > option {
    color: var(--color-foreground);
    padding: var(--text-padding);
}
