.Container {
    background: none;
    border-radius: var(--border-radius);
    color: var(--color-background);
    text-transform: uppercase;
    padding: var(--text-padding);
}

.Container > option {
    color: var(--color-foreground);
    padding: var(--text-padding);
}
