.Container {
    display: flex;
    gap: var(--text-padding);
}

.Container > button {
    background: none;
    border: none;
    border-radius: var(--border-radius);
    color: var(--color-background);
    padding: var(--text-padding-small) var(--text-padding);
    text-transform: uppercase;
}

.Container > button[data-active="true"] {
    border: 2px solid var(--color-active-on-fg);
    color: var(--color-active-on-fg);
}

.Container > button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}
